@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /*
Primary Colors
Primary colors are used more prominently and
featured in the website, and other digital and print
materials.*/
  --primary-start-rgb: 42, 103, 131;
  --primary-end-rgb: 95, 170, 171;
  /*
Secondary + Tertiary Colors
Secondary + Tertiary colors complement primary colors and
add depth. They’re used to enhance the visual
appeal without overshadowing the primary colors.
Use secondary colors to provide contrast or to
highlight specific elements without
overshadowing the primary colors or sacrificing
readability.
Although these can be used on a variety of design
elements including text, please restrict the black
and gray scale palette labeled ‘text’ for this
purpose only. We will not want to use this pallet
for other types of design elements.
*/
  --secondary-start-rgb: 242, 111, 39;
  --secondary-mid-rgb: 118, 111, 152;

  --tertiary-start-rgb: 160, 170, 63;
  --tertiary-end-rgb: 244, 213, 90;

  --text-rgb: 51, 43, 49;
}
